<% if @book.errors.any? %>
  <%= @book.errors.count %> error happened
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= render 'users/userinfo', user: @user, book: @book %>

    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-border-top-bottom mb-5">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td>
                <% if book.user.profile_image.attached? %>
                  <%= link_to user_path(book.user) do %>
                    <%= image_tag book.user.profile_image, size: "80x80" %>
                  <% end %>
                <% else %>
                  <%= link_to user_path(book.user) do %>
                    <%= image_tag 'default-image.jpg', size: "80x80" %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <%= link_to book_path(book.id) do %>
                  <%= book.title %>
                <% end %>
              </td>
              <td><%= book.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>