<% flash.each do |name, msg| %>
  <% if name == :notice %>
    <div class="alert alert-success"><%= msg %></div>
  <% end %>
<% end %>

<%= render 'users/userinfo', user: @user, book: @book %>

    <div class="col-8 offset-1">
      <h2>Book detail</h2>
      <table class="table table-border-top-bottom mb-5">
        <tbody>
          <tr>
            <td class="p-2 text-center">
              <% if @user.profile_image.attached? %>
                <%= link_to user_path(@user) do %>
                  <%= image_tag @user.profile_image, size: "100x100" %>
                <% end %>
              <% else %>
                <%= link_to user_path(@user) do %>
                  <%= image_tag 'default-image.jpg', size: "100x100" %>
                <% end %>
              <% end %>
              <br><%= link_to user_path(@user) do %><%= @book_detail.user.name %><% end %>
            </td>
            <td class="p-2 text-center"><%= @book_detail.title %></td>
            <td class="p-2 text-center"><%= @book_detail.body %></td>
            <% if @book_detail.user == current_user %>
              <td class="p-2 text-center">
                <%= link_to "Edit", edit_book_path(@book_detail), class: "btn btn-success btn-sm" %>
              </td>
              <td class="p-2 text-center">
                <%= link_to "Destroy", book_path, method: :delete, class: "btn btn-danger btn-sm", "data-confirm" => "本当に消しますか？" %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
